<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>BRACU Bus Service</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>

<div class="container col-3 border rounded p-3 bg-light mt-5">
    <h2 class="text-center ">Register</h2>

    <form action="#" th:action="@{/register/saveStudent}" th:object="${student}"
          method="POST">
        <input type="text" th:field="*{sid}"
               placeholder="Student ID" class="form-control mb-4">
        <input type="text" th:field="*{address}"
               placeholder="Address" class="form-control mb-4">
        <input type="text" th:field="*{defaultRoute}"
               placeholder="Route" class="form-control mb-4">
        <input type="text" th:field="*{dept}"
               placeholder="Department" class="form-control mb-4">
        <div class="form-group mb-4" hidden>
            <select class="form-control selectpicker" th:field="*{user}" id="user">
                <option
                        th:value="${user_id}"
                        th:text="${user_id}">
                </option>

            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-info col-4">Complete</button>
        </div>

    </form>

    <hr>
    <div class="text-center">
        <a th:href = "@{/}" > Back to Home</a>
    </div>
</div>
</body>
</html>